PORT=3000
NODE_ENV=development

DB_URI=mongodb+srv://user:pass@cluster.mongodb.net/bildyapp

JWT_SECRET=unsecretoquetesalgadeloshuevos
JWT_EXPIRES_IN=15m

JWT_REFRESH_SECRET=otrosecretoquetesalgadeloshuevos
JWT_REFRESH_EXPIRES_IN=7d

UPLOAD_MAX_SIZE=5242880
